.container{
    display: flex;
    height: 100px;
    width: 100px;
    left: 100;
    background-color: black;
    color: coral;
    position: relative;
    left: 20px;
    justify-content: center;
    align-items: center;
}


.inner-container{
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inner-container div{
    height: 90px;
    width: 90px;
    display: flex;
    background-color: coral;
    color: black;
    justify-content: center;
    align-items: center;
    border: 3px solid maroon;
}